<% @action = "/atividades/kanban" %>
<%= render :partial => "filtros" %>
<script type="text/javascript">
  abrirJanela = function(titulo, endereco) {
    $.window({
      title: titulo,
      url: endereco,
      showModal: true,
      modalOpacity: 0.5
    });
  };
</script>
<div class="scroll">
<table class="kanban" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Projeto</th>
      <% @semana.each do |day| %>
        <th onclick="abrirJanela('<%= day.strftime("%d/%m/%y")  %>','/atividades/detalhes_kanban?data=<%= day.strftime("%d/%m/%y")  %>')"><%= day.strftime("%d/%m/%y") %></th>
      <% end  %>
      <% @programadores.each do |programador| %>
        <th><%= programador.nome %> </th>
      <% end  %>
    </tr>
   </thead>
   <tfoot>
        <tr>
          <th>Total:</th>

         <% @semana.each do |day| %>
             <td onclick="abrirJanela('<%= day.strftime("%d/%m/%y")  %>','/atividades/detalhes_kanban?data=<%= day.strftime("%d/%m/%y")  %>')"><%= @atividades.select{|atividade|atividade.created_at.beginning_of_day == day}.collect(&:horas).flatten.collect(&:quantas).sum %></td>
         <% end  %>
         <% @programadores.each do |programador| %>
             <td onclick="abrirJanela('<%= programador.nome %> - de <%= data1=@data_inicial.strftime('%d/%m/%y')%> até <%= data2=@data_final.strftime('%d/%m/%y')%>','/atividades/detalhes_kanban?programador_id=<%= programador.id %>&data_inicial=<%= data1%>&data_final=<%= data2%>')">
<%= @atividades.collect(&:horas).flatten.select{|hora|hora.programador == programador}.collect(&:quantas).sum %></td>
         <% end  %>
        </tr>
   </tfoot>

   <tbody>
      <% @atividades.group_by(&:projeto).each do |projeto, atividades| %>
        <tr>
          <th onclick="abrirJanela('<%= projeto.nome %> - de <%= data1=@data_inicial.strftime('%d/%m/%y')%> até <%= data2=@data_final.strftime('%d/%m/%y')%>','/atividades/detalhes_kanban?projeto_id=<%= projeto.id %>&data_inicial=<%= data1%>&data_final=<%= data2%>')"><%= projeto.nome %></th>

         <% @semana.each do |day| %>
           <td onclick="abrirJanela('<%= projeto.nome %> - <%= day.strftime("%d/%m/%y")  %>','/atividades/detalhes_kanban?data=<%= day.strftime("%d/%m/%y")  %>&projeto_id=<%= projeto.id %>')"><%= atividades.select{|atividade|atividade.created_at.beginning_of_day == day}.collect(&:horas).flatten.collect(&:quantas).sum %></td>
         <% end  %>
         <% @programadores.each do |programador| %>
             <td>
               <span onclick="abrirJanela('<%= programador.nome %> - de <%= data1=@data_inicial.strftime('%d/%m/%y')%> até <%= data2=@data_final.strftime('%d/%m/%y')%>','/atividades/detalhes_kanban?programador_id=<%= programador.id %>&data_inicial=<%= data1%>&data_final=<%= data2%>&projeto_id=<%= projeto.id %>')">
		  <%= atividades.collect(&:horas).flatten.select{|hora|hora.programador == programador}.collect(&:quantas).sum %>
                </span>
                <div id="<%= programador.nome.parameterize %>-<%= projeto.nome.parameterize %>" style="display:none">
                <% atividades.each do |atividade| %>
                   <%= atividade.descricao %> <br/>
                <%end%>
                </div>
	     </td>
         <% end  %>
        </tr>
      <% end %>
  </tbody>
 </table>
 </div>

 <div class="total_geral">Total geral: <%= @atividades.collect(&:horas).flatten.collect(&:quantas).sum %></div>
