<% @action = "/atividades/ver" %>
<%= render :partial => "filtros" %>
<h1>Atividades
<% if @data_inicial and @data_final %>
  de <%= @data_inicial.strftime('%d/%m/%Y') %>
  <% if @data_inicial < @data_final %>
    a <%= @data_final.strftime('%d/%m/%Y') %>
  <% end %>
<% end %>
</h1>
<ul>
  <% if(@atividades.blank?) %>
    Nenhuma atividade.
  <%else%>
    <% @atividades.group_by(&:projeto).each do |projeto, atividades| %>
      <li>
        <%= projeto.nome %> -
        <%= projeto.cliente.nome rescue "" %> 
      <ul>
        <% atividades.group_by{|a|a.created_at.strftime('%d/%m/%Y')}.each do |data, atividades_do_dia| %>
          <li>
            <%= data %> - Total horas:
            <%= totalizar_horas atividades_do_dia %>
            <ul>
            <% atividades_do_dia.each do |atividade|%>
              <li>
              <%= atividade.descricao %>
              <ul>
                <% atividade.horas.each do |hora| %>
                  <li>
                  <%= hora.programador.nome %> -  <%= hora.quantas %>
                  </li>
                <% end %>
              </ul>
              </li>
            <% end %>
          </ul>
          </li>
        <% end %>
      </ul>
      </li>
    <% end %>
  <% end %>
</ul>
