<% @action = "/atividades/ver" %>
<script type="text/javascript">
  abrirJanela = function(titulo, endereco) {
    $.window({
      title: titulo,
      url: endereco,
      showModal: true,
      modalOpacity: 0.5
    });
  };
</script>
<%= render :partial => "filtros" %>
<h1>Atividades
<% if @data_inicial and @data_final %>
  de <%= @data_inicial.strftime('%d/%m/%Y') %>
  <% if @data_inicial < @data_final %>
    a <%= @data_final.strftime('%d/%m/%Y') %>
  <% end %>
<% end %>
</h1>
<ul>
  <% if(@atividades.blank?) %>
    Nenhuma atividade.
  <%else%>
    <% @atividades.group_by(&:projeto).each do |projeto, atividades| %>
      <li>
        <%= projeto.nome %> -
        <%= projeto.cliente.nome rescue "" %>
      <ul>
        <% atividades.group_by{|a|a.created_at.strftime('%d/%m/%Y')}.each do |data, atividades_do_dia| %>
          <li onclick="abrirJanela('<%= data %>', '/atividades/detalhes?data=<%= data %>&projeto_id=<%= projeto.id %>')">
            <%= data %> - Total horas:
            <%= totalizar_horas atividades_do_dia %>
          </li>
        <% end %>
      </ul>
      </li>
    <% end %>
  <% end %>
</ul>
